<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprovação de Registro de Ponto</title>
    <link rel="stylesheet" href="../static/css/aprovacao.css">
</head>
<body>
<!-- Navbar -->
<section class="navigation">
    <div class="nav-container">
        <div class="brand">
            <img src="../static/img/ChatGPT%20Image%2010%20de%20mai.%20de%202025,%2002_43_44.png" alt="logo" class="logo">
        </div>
        <nav>
            <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
            <ul class="nav-list">
                <li><a href="index.html">Home</a></li>
                <li>
                    <a href="#services">Serviços</a>
                    <ul class="nav-dropdown">
                        <li><a href="batida-ponto.html">Registro de Ponto</a></li>
                        <li><a href="timesheet-entry.html">Relatórios</a></li>
                        <li><a href="aprovacao.html">Gestão de Equipe</a></li>
                    </ul>
                </li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
    </div>
</section>

     <article class="article">
         <div class="row">
             <div class="col-12"></div>
         </div>
     </article>

     <div id="alert-container"></div>

     <div class="container">
         <h1>Aprovação de Registro de Ponto</h1>
         <table>
             <thead>
             <tr>
                 <th>Funcionário</th>
                 <th>Data</th>
                 <th>Entrada</th>
                 <th>Saída</th>
                 <th>Status</th>
                 <th>Comentário</th>
                 <th>Ações</th>
             </tr>
             </thead>
             <tbody id="tBody"></tbody>
         </table>

     <script src="../static/js/aprovacao.js" defer></script>
</body>
</html>