<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ponto Fácil</title>
   <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <!-- Navbar -->
    <section class="navigation">
        <div class="nav-container">
            <div class="brand">
                <img src="../static/img/ChatGPT%20Image%2010%20de%20mai.%20de%202025,%2002_43_44.png" alt="logo" class="logo">
            </div>
            <nav>
                <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                <ul class="nav-list">
                    <li><a href="index.html">Home</a></li>
                    <li>
                        <a href="#services">Serviços</a>
                        <ul class="nav-dropdown">
                            <li><a href="batida-ponto.html">Registro de Ponto</a></li>
                            <li><a href="timesheet-entry.html">Relatórios</a></li>
                            <li><a href="aprovacao.html">Gestão de Equipe</a></li>
                        </ul>
                    </li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <!-- Main Content -->
    <div class="container">
        <section id="home">
           <h1>Controle de Jornada</h1>
<p>Gerencie o ponto dos colaboradores com eficiência e segurança.</p>
        </section>
    </div>
</body>
</html>